/* Container */
.add-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #dfe9f3 0%, #ffffff 100%);
  padding: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Glass Card */
.add-card {
  background: #ffffff;
  width: 450px;
  
  backdrop-filter: blur(15px);
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

/* Back Button */
.back-btn {
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  border: none;
  margin-bottom: 6px;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
}

/* Title */
.title {
    font-family: sans-serif;
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.5rem;
  font-weight: 700;
  color:rgb(63, 63, 237);
}

/* Floating Label Input Group */
.input-group {
   font-family: sans-serif; 
  position: relative;
  margin-bottom: 22px;
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding: 14px 12px;
  border: none;
  border-radius: 10px;
  background: rgb(245, 242, 242);
  backdrop-filter: blur(6px);
  outline: none;
  font-size: 1rem;
  transition: 0.3s;
}

.input-group textarea {
  resize: none;
}

.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus {
  box-shadow: 0 0 10px rgba(59,130,246,0.4);
}

/* Floating Label */
.input-group label {
  position: absolute;
  top: 14px;
  left: 14px;
  font-size: 1rem;
  color:black ;
  pointer-events: none;
  transition: 0.3s ease;
}

.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown) ~ label,
.input-group select:focus ~ label,
.input-group select:not([value=""]) ~ label,
.input-group textarea:focus ~ label,
.input-group textarea:not(:placeholder-shown) ~ label {
  top: -10px;
  left: 10px;
  font-size: 0.75rem;
  font-weight: 200;
  background: white;
  padding: 2px 6px;
  border-radius: 6px;
  color: black;
}

/* 2 Column Row */
.row {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

/* Submit Button */
.submit-btn {
  width: 100%;
  padding: 14px;
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #1e40af;
}

/* Success Popup */
.success-popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 40px 50px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  z-index: 999;
}

.success-popup .tick {
  font-size: 4rem;
  color: #16a34a;
}

.success-popup p {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}


